
<!-- That's Angular template syntax -->
<h1>Password Generator</h1>

<div>
  <label for="">Enter Length</label>
  <!-- we are accessing the event using $event  -->
  <input (input)="onChangeLength($event)"/>
</div>

<div>
  <label for=""> Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()" />
</div>

<div>
  <label for=""> Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" />
</div>

<div>
  <label for=""> Use Symbols</label>
  <input type="checkbox"  (change)="onChangeUseSymbols()" />
</div>

<div>

   <!-- we are defining the event and calling the function in side the app.component.ts file  -->
  <button 
    [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" 
    (click)="onButtonClick()">Generate!</button>
</div>
T
<div>
  <label for="">Your Password</label>
  <input type="text" [value]="password">
</div>
